---
const ids = [1, 2, 3, 4, 5, 6];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>
      <a href="https://astro.build">Astro</a> + <a href="https://nannou.cc"
        >Nannou</a
      ><br />
      <small
        >(<a href="https://github.com/JulianCataldo/astro-nannou-starter"
          >Repo.</a
        >)
      </small>
    </h1>

    <hr />

    {ids.map((id) => <iframe src={`./nannou-embed?id=${id}`} />)}
  </body>
</html>

<style>
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;

    text-align: center;
  }

  iframe {
    border: none;
    width: 1100px;
    height: 900px;
  }
</style>
